<div class="custom-content-container">
	<div class="row">
		<div class="col-3">
			<%= render partial: 'shared/users' %>
		</div>
		<div class="col">
			<div class="chatroom-header-wrapper">
				<p class="chatroom-header"><%= @chatroom.name %></p>
			</div>

			<div class="messages" data-room="<%= @chatroom.id %>">
				<% @chatroom.messages.each do |message| %>
				  <%= render "/messages/message", message: message %>
				<% end %>
			</div>

			<%= simple_form_for Message.new, remote: true do |form| %>
		     <%= form.input :msg, label: false, placeholder: "Insert personality here ;)" %>
		     <%= form.hidden_field :chatroom_id, value: @chatroom.id %>
			<% end %>
    </div>
	</div>
</div>
	
	

<%= javascript_pack_tag "chatrooms.js" %>